In [1]:
pip install openclean

Collecting openclean
  Downloading openclean-0.2.1-py3-none-any.whl (5.2 kB)
Collecting openclean-core==0.4.1
  Downloading openclean_core-0.4.1-py3-none-any.whl (267 kB)
     |████████████████████████████████| 267 kB 26.8 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Collecting flowserv-core>=0.8.0
  Downloading flowserv_core-0.9.2-py3-none-any.whl (260 kB)
     |████████████████████████████████| 260 kB 45.8 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Collecting jellyfish
  Downloading jellyfish-0.8.9.tar.gz (137 kB)
     |████████████████████████████████| 137 kB 41.0 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Collecting jsonschema>=3.2.0
  Downloading jsonschema-4.2.1-py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 4.9 MB/s
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Collecting histore>=0.4.0
  Downloading histore-0.4.1-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 35.1 MB/s
Collecting refdata>=0.2.0
  Downloading refdata-0.2.0-py3-none-any.whl (37 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Collecting passlib
  Downloading passlib-1.7.4-py2.py3-none-any.whl (525 kB)
     |████████████████████████████████| 525 kB 27.9 MB/s
Collecting paramiko
  Downloading paramiko-2.8.1-py2.py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 54.0 MB/s
Collecting gitpython
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 51.7 MB/s
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 35.3 MB/s
Collecting pyyaml-include
  Downloading pyyaml_include-1.2.post2-py3-none-any.whl (20 kB)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Collecting datasize>=1.0.0
  Downloading datasize-1.0.0.tar.gz (149 kB)
     |████████████████████████████████| 149 kB 51.1 MB/s
Collecting tableprint
  Downloading tableprint-0.9.1-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.8 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Collecting cryptography>=2.5
  Downloading cryptography-36.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 43.8 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl (63 kB)
     |████████████████████████████████| 63 kB 2.8 MB/s
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 68.2 MB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Collecting pyyaml>=5.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 40.4 MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)
Building wheels for collected packages: datasize, jellyfish
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155047 sha256=0c08a604d0de8132bd96fe8e4c42023a4b360b9b662021cf90cdbe38f8ebb10c
  Stored in directory: /root/.cache/pip/wheels/f7/b5/32/d8836896da6aca7f9c5748670ea6110d1385c262bf3abcca30
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.9-cp37-cp37m-linux_x86_64.whl size=73222 sha256=02a19398f668b66b63427c6e67fb9f4de279e5d9720dc0536b667a961f21338f
  Stored in directory: /root/.cache/pip/wheels/32/a9/ef/5d8742e72deaf0d1de327a180d008c2c0299367581800ea73f
Successfully built datasize jellyfish
Installing collected packages: smmap, pyyaml, pynacl, gitdb, cryptography, bcrypt, tableprint, pyyaml-include, passlib, paramiko, jsonschema, gitpython, datasize, refdata, jellyfish, histore, flowserv-core, openclean-core, openclean
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.5.9 requires jupyter-client>=6.1.5, but you have jupyter-client 5.3.5 which is incompatible.
Successfully installed bcrypt-3.2.0 cryptography-36.0.0 datasize-1.0.0 flowserv-core-0.9.2 gitdb-4.0.9 gitpython-3.1.24 histore-0.4.1 jellyfish-0.8.9 jsonschema-4.2.1 openclean-0.2.1 openclean-core-0.4.1 paramiko-2.8.1 passlib-1.7.4 pynacl-1.4.0 pyyaml-5.4.1 pyyaml-include-1.2.post2 refdata-0.2.0 smmap-5.0.0 tableprint-0.9.1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import openclean
import os

Download Dataset from https://data.cityofnewyork.us/Housing-Development/DOB-Violations/3h2n-5cm9

Then upload it to google drive

In [4]:
fileName = '/content/drive/My Drive/Big Data/DOB_Violations.csv'

In [5]:
from openclean.pipeline import stream
ds = stream(os.path.join('data', fileName))

In [6]:
ds.columns

['ISN_DOB_BIS_VIOL',
 'BORO',
 'BIN',
 'BLOCK',
 'LOT',
 'ISSUE_DATE',
 'VIOLATION_TYPE_CODE',
 'VIOLATION_NUMBER',
 'HOUSE_NUMBER',
 'STREET',
 'DISPOSITION_DATE',
 'DISPOSITION_COMMENTS',
 'DEVICE_NUMBER',
 'DESCRIPTION',
 'ECB_NUMBER',
 'NUMBER',
 'VIOLATION_CATEGORY',
 'VIOLATION_TYPE']

In [7]:
from openclean.function.eval.base import Col

In [8]:
columns=[
    'HOUSE_NUMBER',
    'STREET',
    'VIOLATION_TYPE_CODE',
    'VIOLATION_NUMBER',
    'VIOLATION_CATEGORY',
    'VIOLATION_TYPE'
]
ds = ds.select(columns)

Data profiling with openclean

In [9]:
profiles = ds.profile()

In [10]:
profiles

[{'column': 'HOUSE_NUMBER',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 3689,
                         'float': 119,
                         'int': 1846055,
                         'str': 382542})}),
   'emptyValueCount': 367,
   'minmaxValues': {'date': {'maximum': datetime.datetime(4572, 12, 13, 0, 0),
     'minimum': datetime.datetime(100, 1, 13, 0, 0)},
    'float': {'maximum': 91018.0, 'minimum': 7.5},
    'int': {'maximum': 8152008, 'minimum': -28},
    'str': {'maximum': '¦04', 'minimum': '#G25FP'}},
   'totalValueCount': 2232772}},
 {'column': 'STREET',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 32, 'int': 32, 'str': 2215309})}),
   'emptyValueCount': 17399,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2067, 12, 13, 0, 0),
     'minimum': datetime.datetime(180, 12, 13, 0, 0)},
    'int': {'maximum': 63, 'minimum': 0},
    'str': {'maximum': '\xa0MAIN STREET', 'minimum': "'\t15 AVENUE'"}},
   'totalValueCount': 2232772}},
 {'column': 'VIOLATION_TYPE_CODE',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2232772})}),
   'emptyValueCount': 0,
   'minmaxValues': {'str': {'maximum': 'Z', 'minimum': '7A'}},
   'totalValueCount': 2232772}},
 {'column': 'VIOLATION_NUMBER',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 64,
                         'float': 278,
                         'int': 1280467,
                         'str': 951958})}),
   'emptyValueCount': 5,
   'minmaxValues': {'date': {'maximum': datetime.datetime(7026, 12, 13, 0, 0),
     'minimum': datetime.datetime(104, 1, 13, 2, 0)},
    'float': {'maximum': inf, 'minimum': 0.051},
    'int': {'maximum': 99441139767, 'minimum': -297},
    'str': {'maximum': '¬TVW', 'minimum': '#326375C301'}},
   'totalValueCount': 2232772}},
 {'column': 'VIOLATION_CATEGORY',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2229015})}),
   'emptyValueCount': 3757,
   'minmaxValues': {'str': {'maximum': 'VWH-VIOLATION WORK W/OUT PMT HAZARDOUS - ACTIVE',
     'minimum': 'V%-UB VIOLATION'}},
   'totalValueCount': 2232772}},
 {'column': 'VIOLATION_TYPE',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2232761})}),
   'emptyValueCount': 11,
   'minmaxValues': {'str': {'maximum': 'Z-ZONING', 'minimum': 'A-SEU'}},
   'totalValueCount': 2232772}}]

In [11]:
profiles.stats()['empty']

HOUSE_NUMBER             367
STREET                 17399
VIOLATION_TYPE_CODE        0
VIOLATION_NUMBER           5
VIOLATION_CATEGORY      3757
VIOLATION_TYPE            11
Name: empty, dtype: int64

In [12]:
profiles.types()

                     date  float      int      str
HOUSE_NUMBER         3689    119  1846055   382542
STREET                 32      0       32  2215309
VIOLATION_TYPE_CODE     0      0        0  2232772
VIOLATION_NUMBER       64    278  1280467   951958
VIOLATION_CATEGORY      0      0        0  2229015
VIOLATION_TYPE          0      0        0  2232761

In [13]:
from openclean.function.eval.datatype import IsDatetime

ds.select('HOUSE_NUMBER').filter(IsDatetime('HOUSE_NUMBER')).head()

      HOUSE_NUMBER
505   360
807   263
811   503
972   503
1082  1301
1085  498
1259  108
1261  154
1284  615
1542  89-06

In [14]:
ds.select('STREET').filter(IsDatetime('STREET')).distinct()

Counter({'180  ST': 16,
         '31 ST.': 1,
         '41  ST': 9,
         '47  ST': 1,
         '47 ST.': 1,
         '67  ST': 3,
         '78. ST': 1})

In [15]:
ds.filter(Col('HOUSE_NUMBER')=='#G25FP').distinct()

Counter({('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '29796',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '29797',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '30384',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '30385',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '30651',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '30652',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '31512',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1,
         ('#G25FP',
          'J F K AIRPORT',
          'LL6291',
          '31513',
          'V-DOB VIOLATION - ACTIVE',
          'LL6291-LOCAL LAW 62/91 - BOILERS'): 1})

In [16]:
ds.select('STREET').head()

            STREET
0        23 AVENUE
1         BROADWAY
2  BATHGATE AVENUE
3   NORTH 6 STREET
4          PARK PL
5   BEDFORD AVENUE
6      DEAN STREET
7        97 STREET
8   WEST 82 STREET
9       134 STREET

In [17]:
ds.select('VIOLATION_NUMBER').filter(IsDatetime('VIOLATION_NUMBER')).distinct()

Counter({'-10/89': 1,
         '-10/90': 1,
         '-11/89': 1,
         '-11/90': 1,
         '-11/94': 1,
         '-12/89': 1,
         '-12/90': 1,
         '-12/94': 1,
         '....1798': 1,
         '...1525': 1,
         '...7026': 1,
         '02/14/90': 1,
         '030100..-': 1,
         '04/04/94': 1,
         '04/05/2005': 1,
         '06 28 93': 1,
         '060100..-': 1,
         '060100...-': 1,
         '060200...-': 1,
         '07 14 93': 1,
         '1/9/91': 1,
         '104/01-02A': 1,
         '110100 -': 1,
         '110100 .-': 1,
         '110100.. -': 1,
         '110100..-': 1,
         '110100...-': 1,
         '1105 ./01': 1,
         '1105 /02': 1,
         '1105../01': 1,
         '1160./1': 1,
         '1160./2': 1,
         '1176 /1': 1,
         '1179  /4': 1,
         '1255-1-1': 2,
         '1275..../01': 1,
         '1275./01': 1,
         '1300 11/05': 1,
         '1308 4/01': 1,
         '132/02-04A': 1,
         '1320-1-1': 1,
         '1333../02': 1,
         '1333../04': 2,
         '1333../06': 1,
         '1333../07': 1,
         '1333../08': 1,
         '1333./4': 1,
         '1370 04/04': 1,
         '1432-3-1': 2,
         '1447./05': 1,
         '1449-3-2': 1,
         '1469-7-1': 1,
         '14H01 207-9': 1,
         '150200.-': 1,
         '163/02-03': 1,
         '168/01-02A': 1,
         '181/02-03': 1,
         '2 24 77': 1,
         '2-22/90': 1,
         '555-10-01': 1,
         '6/15/16': 1})

In [18]:
ds.select('STREET').filter(IsDatetime('STREET')).distinct()

Counter({'180  ST': 16,
         '31 ST.': 1,
         '41  ST': 9,
         '47  ST': 1,
         '47 ST.': 1,
         '67  ST': 3,
         '78. ST': 1})

In [19]:
ds.count()

2232772

Data clean with spark

In [22]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 64.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=766302f418953fad6f5a421407d19c1a673d14d8a9c1559ae3690df83b3864b3
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [23]:
import sys
from operator import add
from pyspark import SparkContext
from csv import reader

In [24]:
sc = SparkContext()
data_full = sc.textFile(fileName, 1)
data_full = data_full.mapPartitions(lambda x: reader(x))
data_full = data_full.filter(lambda x: x[0] != "ISN_DOB_BIS_VIOL")

data = data_full.map(lambda x: [str(x[8]), str(x[9]), x[6], x[7], x[16], x[17]])

data = data.filter(lambda x: 
                        x[0] != "" and
                        x[1] != "" and
                        x[2] != "" and
                        x[3] != "" and
                        x[4] != "" and
                        x[5] != "")

def repair(x):
    x[0] = x[0].replace(' ','')
    x[0] = x[0].replace('\xa0','')
    x[0] = x[0].replace("'",'')
    x[0] = x[0].replace("\\",'')
    x[0] = x[0].replace("`",'')
    x[0] = x[0].replace("¦",'')
    x[0] = x[0].replace('+','')
    x[0] = x[0].replace('-','')
    
    x[1] = x[1].replace('  ',' ')
    x[1] = x[1].replace("'",'')
    x[1] = x[1].replace('`','')
    x[1] = x[1].replace('¦','')
    x[1] = x[1].replace('+','')
    x[1] = x[1].replace('-','')
    while len(x[0]) > 0 and x[0][0] == '0':
        x[0] = x[0][1:]
    while len(x[1]) > 0 and x[1][0] == '.':
        x[1] = x[1][1:]
    return x
    
data_repaired = data.map(repair)
data_repaired = data_repaired.filter(lambda x: x[0] != "").sortBy(lambda x:x[0]).sortBy(lambda x:x[1])

data_result = data_repaired.map(lambda x: str(x[0]) + " " + str(x[1]) + "\t" + str(x[2]) + "\t" + str(x[3]) + "\t" + str(x[4]) + "\t" + str(x[5]))

In [25]:
data_result.take(10)

['128 \tFISPNRF\t00065\tV*-DOB VIOLATION - DISMISSED\tFISPNRF-NO REPORT AND / OR LATE FILING (FACADE)',
 '3802 \t15 AVENUE\tBENCH\t01247\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '677 \tVAN SINDEREN AVENUE\tBENCH\t01178\tV*-DOB VIOLATION - DISMISSED\tBENCH-FAILURE TO BENCHMARK',
 '3802  15 AVENUE\tBENCH\t00570\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '3802  15 AVENUE\tBENCH\t00816\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '16304 0\tBENCH\t00640\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '32A 0\tBENCH\t00691\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '606 0\tBENCH\t00372\tV-DOB VIOLATION - ACTIVE\tBENCH-FAILURE TO BENCHMARK',
 '624 0\tBENCH\t00373\tV*-DOB VIOLATION - DISMISSED\tBENCH-FAILURE TO BENCHMARK',
 '100 1  STREET\tC\t06SC02\tVP*-VIOLATION UNSERVED ECB- DISMISSED\tC-CONSTRUCTION']

In [26]:
sc.stop()